BACK-END

python 3.6.4
django 2.0.3
channels 2.1.1
channels_redis
docker - note: use 
    docker run -p 6379:6379 -d redis:2.8 
before python3 manage.py runserver in order to enable channels to work (localhost testing on local machine)


FRONT-END

vue.js 
jquery-3.3.1.js

