{% extends "base_generic.html" %}
{% load static %}

{% block title %}
<title>Canvas Title: {{ canvas.title }} </title>
{% endblock %}

{% block content %}
    <button id = "collaborators">Collaborators</button>
    
    <div id = "Individuals-Affected">
        <h2>Individuals Affected</h2>
        <ul id = "idea-list-0" ></ul>
        <button class = "new-idea">Create New Idea</button>
    </div>
        <div id = "Groups-Affected">
        <h2>Groups Affected</h2>
        <ul id = "idea-list-1"></ul>
        <button class = "new-idea">Create New Idea</button>
    </div>
        <div id = "Behaviour">
        <h2>Behaviour</h2>
        <ul id = "idea-list-2"></ul>
        <button class = "new-idea">Create New Idea</button>
    </div>
        <div id = "Relations">
        <h2>Relations</h2>
        <ul id = "idea-list-3"></ul>
        <button class = "new-idea">Create New Idea</button>
    </div>
        <div id = "World-Views">
        <h2>World Views</h2>
        <ul id = "idea-list-4"></ul>
        <button class = "new-idea">Create New Idea</button>
    </div>
        <div id = "Group-Conflicts">
        <h2>Group Conflicts</h2>
        <ul id = "idea-list-5"></ul>
        <button class = "new-idea">Create New Idea</button>
    </div>
        <div id = "Product-or-Service-Failure">
        <h2>Product or Service Failure</h2>
        <ul id = "idea-list-6"></ul>
        <button class = "new-idea">Create New Idea</button>
    </div>
        <div id = "Problematic-Use-of-Resources">
        <h2>Problematic Use of Resources</h2>
        <ul id = "idea-list-7"></ul>
        <button class = "new-idea">Create New Idea</button>
    </div>
        <div id = "What-can-we-do?">
        <h2>What can we do?</h2>
        <ul id = "idea-list-8"></ul>
        <button class = "new-idea">Create New Idea</button>
    </div>
        <div id = "Uncategorised">
        <h2>Uncategorised</h2>
        <ul id = "idea-list-9"></ul>
        <button class = "new-idea">Create New Idea</button>
    </div>
    
    <button id = "back">Return to Dashboard</button>
{% endblock %}

{% block scripts %}
<script src="{% static 'canvas2/javascript/canvasDetail.js' %}"></script>
{% endblock %}