{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% block title %}<title>Ethics Canvas</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      font-size: 10px;
      color: black;
    }
    #idea-list li {
      list-style-type: none;
    }
  </style>
</head>
<body>
  {% block content %}<p></p>{% endblock %}

   <script src="{% static 'canvas2/javascript/jquery-3.3.1.js' %}"></script>
   <script src="{% static 'canvas2/javascript/vue.js' %}"></script>
   <script>var $j = jQuery.noConflict();</script>
  {% block scripts %}
  {% endblock %}
</body>
</html>