{% load static %}
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'canvas2/css/base_style.css' %}">
  <link rel="shortcut icon" href="/static/canvas2/images/canvas-favicon.ico">
  {% block title %}<title>Ethics Canvas</title>{% endblock %}

</head>
<body>
  {% block content %}<p></p>{% endblock %}

  <script src="{% static 'canvas2/javascript/jquery-3.3.1.js' %}"></script>
  <script src="{% static 'canvas2/javascript/vue.js' %}"></script>
  <script src="{% static 'canvas2/javascript/boilerplate.js' %}"></script>
  <script>
    var $j = jQuery.noConflict();    

  </script>
  {% block scripts %}
  {% endblock %}
</body>
</html>