{% extends "base_generic.html" %}

{% block content %}
  <p>Index</p>
  <div class="buttons">
    <ul>
      <li>
        <a class="anchor-button" href="{% url 'new-canvas' canvas_type=0 %}"><button>Try Ethics Canvas Online</button></a>
      </li>
      <li>
        <a class="anchor-button" href="{% url 'new-canvas' canvas_type=1 %}"><button>Try Business Canvas Online</button></a>
      </li>
      <li>
        <a class="anchor-button" href="{% url 'new-canvas' canvas_type=2 %}"><button>Try AI Ethics Canvas Online</button></a>
      </li>
      <li>
        <a class="anchor-button" href="{% url 'login' %}"><button>Log In</button></a>
      </li>
      <li>
        <a class="anchor-button" href="{% url 'register' %}"><button>Register</button></a>
      </li>
      <li>
        <a class="anchor-button" href="/static/canvas2/images/online-ethics-canvas.pdf" download><button>Download Blank Ethics Canvas PDF</button></a>
      </li>
      <li>
        <a class="anchor-button" href="/static/canvas2/images/online-business-model-canvas.pdf" download><button>Download Blank Business Canvas PDF</button></a>
      </li>
      <li>
        <!-- TEMPORARILY DOWNLOADS THE ETHICS CANVAS - TODO: GET A PRIVACY CANVAS PDF -->
        <a class="anchor-button" href="/static/canvas2/images/AI-Ethics.pdf" download><button>Download Blank AI Ethics Canvas PDF</button></a>
      </li>
    </ul>
  </div>
{% endblock %}
